:root {
  --text: #000;
  --link-color: rgba(174, 38, 160, 1.0);
  --light-link-color: rgba(174, 38, 160, 0.065);
  --hover-link-color: rgba(174, 38, 160, 0.85);
  --background: #FFF;
  --background2: rgba(193, 182, 170, 1.0);
}

/* General */


html {
  background: var(--background);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "eskorte-latin", serif;
  color: var(--text);
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 165%;
}

img {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}

img#header {
  background: url(/assets/background.png) left top, var(--background);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
img#header, img#footer {
  outline: 1px solid var(--background2);
  outline-offset: 5px;
}

img#background {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url(/assets/background.png) left bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

section {
  padding: 3em 2em 12em 2em;
  margin: 0;
  background: var(--background);
}

section div {
  max-width: 42em;
  margin: 0 auto;
}

li, p, h1, h2, h3, h4, h5 {
  font-weight: 400;
  font-size: 100%;
}

h1, h2, h3, h4 {
  font-size: 100%;
  font-weight: 600;
  margin: 1.5em 0 0.5em;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 125%;
  margin-top: 3em;
}

p {
  margin: 1em 0;
}

li em, p em {
  font-family: "eskorte-latin", serif;
  font-weight: 400;
  font-style: italic;
}

strong {
  font-weight: 600;
}

ul {
  padding-left: 0;
  list-style: circle;
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: var(--light-link-color);
  border-radius: 5px;
  padding: 0 0.2em;
}

a:hover {
  text-decoration: underline;
}

a.button {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1.5em;
  color: var(--background);
  background-color: var(--link-color);
  outline: 1px solid var(--link-color);
  outline-offset: 3px;
  margin: 1em 0;
}

a.button:hover {
  text-decoration: none;
  background-color: var(--hover-link-color);
  outline: 1px solid var(--hover-link-color);
}

.hide {
  visibility: hidden;
}

/* Responsive */

@media (max-width: 1150px) {
  section {
    width: auto;
    padding: 2em 1em;
  }

  body {
    font-size: 20px;
  }
}