<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{{ site.description }}">

    <!-- styles -->
    <link rel="stylesheet" href="/assets/styles.css">

    <!-- OG and Twitter -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{{ site.description }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />

    <!-- Adobe fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/wuz8exu.css">

    <!-- visitor analytics -->
    <script async defer data-domain="magdasevdava-kubasezeni.cz" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
  <div>
  <img src="/assets/header.svg">
  <section>
    {{ content }}
  </section>
  <img src="/assets/footer.svg">
  <img src="/assets/background.png">
  </div>
</body>
</html>
